html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	background: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	margin: 1em;
}

body,
input,
select,
table {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: inherit;
}

h1 {
	margin: 0.3em 0 0.2em 0;
	font-size: 1.5em;
	font-weight: normal;
	color: #333; 
}

table, input, button { 
	font-size: 1em;
}

th, td { 
	text-align:left; 
	vertical-align: top; 
}

a:link, a:visited, a:active { 
	color: #06a; 
	text-decoration:none;
}

a:hover { 
	text-decoration:underline; 
}

p {	
	margin: 0.5em 0 0.5em 0; 
}

table.grid, table.grid th, table.grid td {
	border: 1px solid #bbb;
	border-collapse:collapse;
}
table.grid th {
	background: #ddd;
}
table.grid tr, table.grid td {
	background: #fff;
}
table.grid tr:hover td {
	background: #def !important;
}
table.grid th, table.grid td {
	padding: 0.3em 0.5em;
}

td.panel {
	border-radius: 5px;
	background: #eee;
	padding: 0.5em 1em;
	min-width:300px;
	min-height:150px;
}

.edit_icon { padding-left:18px; background: transparent url(icons/pencil.png) top left no-repeat; }
.add_icon { padding-left:18px; background: transparent url(icons/add.png) top left no-repeat; }
.delete_icon { padding-left:18px; background: transparent url(icons/cross.png) top left no-repeat; }
.view_icon { padding-left:18px; background: transparent url(icons/magnifier.png) top left no-repeat; }
.ok_icon { padding-left:18px; background: transparent url(icons/tick.png) top left no-repeat; }
.refresh_icon { padding-left:18px; background: transparent url(icons/refresh.png) top left no-repeat; }

.info_icon { color: #777; padding-left:18px; background: transparent url(icons/information.png) top left no-repeat; }
.error_icon { color: #930; padding-left:18px; background: transparent url(icons/exclamation.png) top left no-repeat; }

label {
	font-weight: bold;
	width: 100px;
	display:inline-block;
}

input, select {
    background: #fff;
    border-width: 1px;
    padding: 2px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #999;
    width:200px;
}

input[readonly] {
	background: #ddd;
	box-shadow: none;
	border-color: #bbb;
	outline-color: transparent !important;
}

button {
	background: #369;
	color: #fff;
	padding: 3px 10px;
	outline: none;
	border-width: 0px;
	margin-left: 100px;
	width: 200px;
}

button:hover {
	background: #47a;
}

button:active {
	background: #258;
}
