html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	background: #ffffff;
}
* {
	box-sizing: border-box;
}
body {
	margin: 1em;
}
body,
input,
select,
options,
textarea {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: inherit;
}

h1 {
	margin: 0.3em 0 0.2em 0;
	font-size:1.6em;
}
h2 {
	margin: 0.3em 0 0.2em 0;
	font-size:1.25em;
}
h3 {
	margin: 0.3em 0 0.2em 0;
	font-size:1.1em;
}
h1 small, h2 small, h3 small{
	opacity: .4;
	font-size:.8em;
}
ul {
	margin: .5em 0;
	padding-left:2em;
}
a:link, a:visited, a:active, a.link:link, a.link:visited, a.link:active { 
	color: #06a; 
}
table, input, button { 
	font-size: 1em;
}
th, td { 
	text-align:left; 
	vertical-align: top; 
}
a:link, a:visited, a:active { text-decoration:none; }
a:hover { text-decoration:underline; }
p {	margin: 0.5em 0 0.5em 0; }
.b, label { font-weight: bold; }

table.grid,  
table.grid th, 
table.grid td {
	border: 1px solid #bbb;
	border-collapse:collapse;
}
table.grid th {
	background: #ddd;
}
table.grid tr,
table.grid td {
	background: #fff;
}
table.grid tr:hover td {
	background: #def !important;
}
table.grid tr.selected td {
	background: #cde !important;
}
table.grid th, 
table.grid td {
	padding: 0.3em 0.5em;
}

td.panel {
	border-radius: 5px;
	background: #eee;
	padding: 0.5em 1em;
	min-width:300px;
	min-height:150px;
}
td.panel:hover {
	/*background: #efe;*/
}

.icon { padding-left:18px; }
.edit_icon { background: transparent url(icons/pencil.png) top left no-repeat; }
.add_icon { background: transparent url(icons/add.png) top left no-repeat; }
.delete_icon { background: transparent url(icons/cross.png) top left no-repeat; }
.view_icon { background: transparent url(icons/magnifier.png) top left no-repeat; }
.info_icon { background: transparent url(icons/information.png) top left no-repeat; }
.error_icon { background: transparent url(icons/exclamation.png) top left no-repeat; }
.user_icon { background: transparent url(icons/user.png) top left no-repeat; }
.ok_icon { background: transparent url(icons/tick.png) top left no-repeat; }
.refresh_icon { background: transparent url(icons/refresh.png) top left no-repeat; }
.app_icon { background: transparent url(icons/brick.png) top left no-repeat; }

.error { color: #930; }
.info { color: #006; }

label {
	width: 100px;
	display:inline-block;
}

input.text, 
input[type="text"], 
input[type="password"], 
select,
textarea, 
.customfile {
    background: #fff;
    border-width: 1px;
    padding: 2px;
    margin: 0;
    border-radius: 0;
	border: 1px solid #999;
    
}

input:read-only {
	background: #ccc;
	box-shadow: none;
	border-color: transparent;
}

button {
	background: #369;
	color: #fff;
	padding: 3px 10px;
	outline: none;
	border-width: 0px;
	width: 100%;
}

button:hover {
	background: #47a;
}

button:active {
	background: #258;
}

.medium {
	width:200px;
}
